// Changes apart from the main theme

// Footer CSS
.footer {
   background-color: #e9ecef;
}

.footer-bottom {
   background-color: #dee2e6;
}

// Footer Socials
.socials,
.quick,
.location {
   text-decoration: underline;
   text-decoration-thickness: 3px;
   text-decoration-color: $primary-color;
   text-underline-offset: 5px;
}

// Bockquote Hover Background
blockquote {
   background-color: lighten(saturate($primary-color, 0.87), 38.24);

   &:hover {
      background-color: $primary-color;
      //background-color: lighten(saturate($primary-color, 0.87), 38.24);
   }
}

// Scrollbar
body::selection {
   background-color: darken($color: $primary-color, $amount: 10);
   color: $white;
}

body::-webkit-scrollbar {
   width: .5rem;
}

body::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
   background-color: $primary-color;
   outline: 2px solid #fff;
   //border-radius: 10px;
}

// Features Card
.features-card {
   //background-color: #F6FF33;
   background-color: lighten($primary-color, 43);

}

// Features Card Hover
.features-card:hover {
   //background-color: #F6FF33;
   background-color: $primary-color;
   color: #000000;
}

// down Button
.btn.btn-primary {
   color: #ffff;
   text-decoration: none;      
}

// Card Hover Yellow
.card:hover {
   background-color: $yellow-color;
}

// Markdown Content Image
.content img {
   width: 100%;
   //margin-top: 30px !important;
   //border: 1px solid $primary-color;
   //border-radius: 4px;
   padding: 5px;
   //box-shadow: 0px 10px 35px 0px rgba($black, 0.05);
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
   //box-shadow: 0 16px 24px rgba(0, 0, 0, 0.1);
   border-radius: 6px;
   //background: #ffff;
   //border-radius: 18px;
   overflow: hidden;
   border: 0;
   margin-top: 30px;
   height: calc(100% - 30px);
}

.content img:hover {
   //box-shadow: 0 0 2px 1px rgba(186, 183, 0, 0.5);
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
   opacity: 0.85;
}

// Markdown Content Table
.tableRow {
   background-color: rgb(246, 253, 253);
}

tr {
   background-color: rgb(246, 253, 253);
}

tr:hover {
   background-color: rgba(233, 235, 154, 0.76) !important;
}

.selectedTableRow {
   background-color: rgba(141, 186, 238, 0.76) !important;
}

table {
   //border-collapse: separate;
   //text-indent: initial;
   border-spacing: 5px;
   width: 100%;
   margin-bottom: 4.25rem;
   margin-top: 2.25rem;
}

th {
   //height: 50px;
   font-weight: bold;
   //text-align: left;
   background-color: #FFE6DB;
}

// Markdown Callout Card
.bd-callout-info {
   //border-left-color: #5bc0de;
   border-left-color: #03a9f4;
}

.bd-callout {
   padding: 1.25rem;
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
   border: 1px solid #03a9f4;
   border-left-width: .25rem;
   border-radius: .25rem;
}

// Markdown highlight Yellow
.yellow {
   margin: 0 -0.4em;
   padding: 0.1em 0.4em;
   line-height: 1.8em;
   border-radius: 0.8em 0.3em;
   background: transparent;
   background-image: linear-gradient(to right,
         rgba(250, 225, 134, 0.1),
         rgba(250, 225, 134, 0.7) 4%,
         rgba(250, 225, 134, 0.3));
   //-webkit-box-decoration-break: clone;
   //box-decoration-break: clone;
}

// Markdown highlight Blue
.blue {
   margin: 0 -0.4em;
   padding: 0.1em 0.4em;
   line-height: 1.8em;
   border-radius: 0.8em 0.3em;
   background: transparent;
   background-image: linear-gradient(to right,
         rgba(0, 217, 255, 0.1),
         rgba(0, 217, 255, 0.7) 4%,
         rgba(0, 217, 255, 0.3));
   //-webkit-box-decoration-break: clone;
   //box-decoration-break: clone;
}

// Mobile menu dropdown
header {

   // background-color: #e9ecef;
   // box-shadow: 0 -2px 6px 1px rgba(0,0,0,0.5);
   .dropdown-menu {
      height: auto !important;
   }
}

// Nav items hover
.nav-item.active {
   text-decoration: underline;
   text-decoration-thickness: 3px;
   text-decoration-color: $primary-color;
   text-underline-offset: 5px;
}

.nav-item:hover {
   background-color: $yellow-color;
   border-radius: 15px 5px;
}

// Mark highlight color
mark {
   background-color: $yellow-color;
   color: $black;
   //color: black;
   border-radius: 15px 5px;
}

// Markdown color text
typewritten-text {
   font-weight: bold;
   //color: #fe6019;
   color: $primary-color;
   background-color: $light;
}

// Markdown Bootstrap Badge
.badge {
   top: -10px;
}

// Tags CSS
.post-tags li {
   display: inline-block;
   margin-inline-end: 3px;
   margin-bottom: 5px;
   margin-left: 5px;
}

.post-tags a,
.share-buttons,
.paginav {
   border-radius: var(--radius);
   background: var(--code-bg);
   border: 1px solid var(--border);

}

.post-tags a {
   display: block;
   padding-inline-start: 14px;
   padding-inline-end: 14px;
   //color: var(--secondary);
   //color: #000000;
   color: $black;
   font-size: 14px;
   line-height: 34px;
   //background: var(--code-bg);
   margin-top: 20px;
   //background-color: $light;
   background-color: $yellow-color;
}

.post-tags a:hover,
.paginav a:hover {
   //background: var(--border);
   background-color: $primary-color;
}

// Term Tags CSS
.terms-tags li {
   display: inline-block;
   margin: 10px;
   font-weight: 500;
}

.terms-tags a {
   display: block;
   padding: 3px 10px;
   //background: var(--tertiary);
   background: #F6FF33;
   border-radius: 6px;
   transition: transform 0.1s;
}

.terms-tags a:active {
   background: var(--tertiary);
   transform: scale(0.96);
}

.terms-tags a:hover,
.paginav a:hover {
   //background: var(--border);
   background-color: $primary-color;
}

// Content CSS
.content a {
   text-decoration: none;
   border-bottom: 1.5px solid $primary-color;
}

// Details CSS
details {
   //margin-left: 20px;
   background: #f3f3f3;
   margin-bottom: 10px;
   padding: .5rem 1rem;
   //color: #000000;
   color: $black;
}

// Algolia Search CSS
#search {
   padding: 10px 10px 10px 10px;
   text-align: center;
   //display: flex;  
   justify-content: center;
}

// For Algolia Search to Work
.searchbox {
   z-index: 6;
}

.markme {
   display: inline-block;
   position: relative;
   font-style: normal;
   z-index: 1;
}

.markme:after {
   position: absolute;
   width: 100%;
   height: 10px;
   left: 0;
   background-color: #60d0ff;
   z-index: -1;
   content: "";
   top: 50%;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   transform: translateY(-50%);
   top: 73%;
}


h3 {
   //background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #60d0ff 65%);
   background: linear-gradient(180deg, #25aae1 65%, #2bb673 65%);
   border-radius: 5px; /* Applies a 10px radius to all four corners */
   padding: 5px;
   //display: inline;
}

h3:hover {
   //background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #60d0ff 65%);
   background: linear-gradient(180deg, #2bb673 65%, #25aae1 65%);
   //display: inline;
   //color: #dee2e6;
   //color: #ffffff;
   color: $white;
}

.blog-card .card-title a:hover {
   //color: #ffffff;
   color: $white;
}


circle {
   position: relative;
   left: 0.5em;
   //font-family: Libre Franklin;
   //font-size: 32px;
   //font-weight: 500;
}

circle:before {
   content: "";
   z-index: -1;
   left: -0.5em;
   top: -0.1em;
   border-width: 2px;
   border-style: solid;
   border-color: $primary-color;
   position: absolute;
   border-right-color: transparent;
   width: 100%;
   height: 2em;
   transform: rotate(2deg);
   opacity: 0.7;
   border-radius: 50%;
   padding: 0.1em 0.25em;
}

circle:after {
   content: "";
   z-index: -1;
   left: -0.5em;
   top: 0.1em;
   padding: 0.1em 0.25em;
   border-width: 2px;
   border-style: solid;
   border-color: $primary-color;
   border-left-color: transparent;
   border-top-color: transparent;
   position: absolute;
   width: 100%;
   height: 2em;
   transform: rotate(-1deg);
   opacity: 0.7;
   border-radius: 50%;
}

marker {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #60d0ff 65%);
   //background: linear-gradient(180deg, #2bb673 65%, #25aae1 65%);
   display: inline;
}

// Alert CSS
.alert-dismissible {
   padding-top: 1.5rem;
}

.alert-warning .alert-link {
   /* color: #F44336; */
   //border-bottom: 1.5px solid #fe6019;
   border-bottom: 1.5px solid $primary-color;
}

@media (max-width: 400px) {
   .header-height-fix {
      height: 70px;
   }
}

// Team Snippets CSS
.team-section-title {
   padding-bottom: 25px;   
}
.team-title {
   font-weight: 700;
   color: #222222;
   font-size: 45px;
   //margin: 0 0 15px;
   //border-left: 5px solid #fe6019;
   border-left: 5px solid $primary-color;
   padding-left: 15px;
}

.team .member {
   position: relative;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
   padding: 30px;
   border-radius: 10px;
   background: #fff;
   z-index: 1;
   overflow: hidden;
   -moz-transition: ease all 0.35s;
   -o-transition: ease all 0.35s;
   -webkit-transition: ease all 0.35s;
   transition: ease all 0.35s;
   top: 0;
}

.team .member:after {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: auto;
   right: 0;
   border-radius: 10px;
   width: 0;
   //background: #20247b;
   //background-color: #057b42;
   background-color: $green-color;
   z-index: -1;
   -moz-transition: ease all 0.35s;
   -o-transition: ease all 0.35s;
   -webkit-transition: ease all 0.35s;
   transition: ease all 0.35s;
}

.team .member * {
   -moz-transition: ease all 0.35s;
   -o-transition: ease all 0.35s;
   -webkit-transition: ease all 0.35s;
   transition: ease all 0.35s;
}

.team .member:hover {
   top: -5px;
   //color: #fff;
   color: $white;
}

.team .member:hover:after {
   width: 100%;
   height: 100%;
   border-radius: 10px;
   left: 0;
   right: auto;
}

.team .member .pic {
   overflow: hidden;
   width: 250px;
   border-radius: 50%;
}

.team .member .pic img {
   width: none !important;
   transition: ease-in-out 0.3s;
   padding: none !important;
   box-shadow: none !important;
   border-radius: none !important;
   overflow: none !important;
   border: none !important;
   margin-top: none !important;
   height: none !important;
}

.team .member:hover img {
   transform: scale(1.05);
   box-shadow: none !important;
   opacity: none !important;
}

.team .member .member-info {
   padding-left: 30px;
}

.team .member h4 {
   font-weight: 700;
   margin-bottom: 5px;
   font-size: 20px;
   color: #222222;
}

.team .member:hover h4 {
   //color: #ffffff;
   color: $white;
}

.team .member span {
   display: block;
   font-size: 15px;
   padding-bottom: 10px;
   position: relative;
   font-weight: 500;   
}

.team .member span::after {
   content: "";
   position: absolute;
   display: block;
   width: 50px;
   height: 2px;
   background: #fe6019;
   bottom: 0;
   left: 0;
}

.team .member p {
   margin: 10px 0 0 0;
   font-size: 14px;
}

.team .member .social {
   margin-top: 12px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.team .member .social a {
   transition: ease-in-out 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
   width: 32px;
   height: 32px;
   background: #ecf6fe;
   color: #0665b7;
}

.team .member .social a i {
   font-size: 14px;
   margin: 0 2px;
}

.team .member .social a:hover {
   //background: #0880e8;
   //background: #fe6019;
   background: $primary-color;
   //color: #fff;
   color: $white;
}

.team .member .social a+a {
   margin-left: 8px;
}

// Services Snippets CSS
//  body {
// margin-top:5px;
// }
.feature-box-1 {
   padding: 32px;
   box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
   margin: 15px 0;
   position: relative;
   z-index: 1;
   border-radius: 10px;
   overflow: hidden;
   -moz-transition: ease all 0.35s;
   -o-transition: ease all 0.35s;
   -webkit-transition: ease all 0.35s;
   transition: ease all 0.35s;
   top: 0;
}

.feature-box-1 * {
   -moz-transition: ease all 0.35s;
   -o-transition: ease all 0.35s;
   -webkit-transition: ease all 0.35s;
   transition: ease all 0.35s;
}

.feature-box-1 .icon {
   width: 70px;
   height: 70px;
   line-height: 70px;
   //background: #fe6019;
   background: $primary-color;
   //color: #ffffff;
   color: $white;
   text-align: center;
   border-radius: 50%;
   margin-bottom: 22px;
   font-size: 27px;
}

.feature-box-1 .icon i {
   line-height: 70px;
}

.feature-box-1 h5 {
   color: #222222;
   font-weight: 600;
}

.feature-box-1 p {
   margin: 0;
}

.feature-box-1:after {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: auto;
   right: 0;
   border-radius: 10px;
   width: 0;
   //background: #20247b;
   background: #046A38;
   z-index: -1;
   -moz-transition: ease all 0.35s;
   -o-transition: ease all 0.35s;
   -webkit-transition: ease all 0.35s;
   transition: ease all 0.35s;
}

.feature-box-1:hover {
   top: -5px;
}

.feature-box-1:hover h5 {
   //color: #ffffff;
   color: $white;
}

.feature-box-1:hover p {
   //color: #ffffff;
   color: $white;
}

.feature-box-1:hover:after {
   width: 100%;
   height: 100%;
   border-radius: 10px;
   left: 0;
   right: auto;
}

.services-section {
   padding: 5px;
   position: relative;
}

.services-section-title {
   padding-bottom: 25px;
   // margin-bottom: 25px;
   // margin-top: 10px;
}

.services-title {
   font-weight: 700;
   color: #222222;
   font-size: 45px;
   margin: 0 0 15px;
   //border-left: 5px solid #fe6019;
   border-left: 5px solid $primary-color;
   padding-left: 15px;
}

// Bookkeeping Services
.services .icon-box {
  padding: 60px 30px;
  transition: all ease-in-out 0.3s;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  border-radius: 18px;
  border-bottom: 5px solid #fff;
}

.services .icon-box .icon {
  width: 64px;
  height: 64px;
  background: #fe6019;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  //color: #fff;
  color: $white;
}

.services .icon-box .icon i {
  font-size: 28px;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #282828;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
  //border-color: #fe6019;
  border-color: $primary-color;
  //background-color: #fffaf3;
  background-color: $light-color;
  
}

.services .icon-box:hover h4 a {
  //color: #fe6019;
  color: $primary-color;
}

// Bookkeeping Features
.bookkeeping-features-title {
   background: none;
}
.bookkeeping-features-title:hover {
   background: none;
}
.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.3s;
}
.features .icon-box:hover {   
   background: #feffa3;   
 }
.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.features .icon-box h3 a {
  color: #111;
  transition: ease-in-out 0.3s;
  border-bottom: none;
}

.features .icon-box h3 a:hover {
  color: #1bbd36;
}

// ctaspan
.ctaspan {
   margin-bottom: 40px;
   //background-color:#fe6019;
   background-color: $primary-color;
   position: relative;   
   animation-duration: 15s;
   animation-name: ctaspan;
   z-index: 2;
}

@keyframes ctaspan {
   0%   {background-color:#fe6019; left:0px; top:0px;}
   25%  {background-color:#FF1493; left:200px; top:0px;}
   50%  {background-color:#7B68EE; left:200px; top:200px;}
   75%  {background-color:#32CD32; left:0px; top:200px;}
   85% {background-color:#fe6019; left:0px; top:0px;}
 }

 @media (max-width: 1000px) {
   .ctaspan {
      animation-duration: 0s;
   }
}

// button CSS
.ctap {
   font-size: 1.5rem;
}

.btn-orange-moon {
   //background: #fc4a1a;  /* fallback for old browsers */
   background: #FE6019;
   background: -webkit-linear-gradient(to right, #f7b733, #FE6019);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f7b733, #FE6019); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: #FFFFFF;
   //border: 3px solid #eee;
   margin-bottom: 20px;
}

//CTA CSS
.ctah2 {
   font-size: 2.5rem;
}

// TOC Table of Content CSS
.table-of-content summary {
   //background-color: #03a9f4;
   background-color: $green-color !important;
 } 
 .table-of-content li {
   list-style-type: circle;
 } 

// Counts CSS
.counts {
  background: url("../img/counts-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 40px 0 60px 0;
  position: relative;
}

.counts::before {
  content: "";
  position: absolute;
  //background: rgba(17, 17, 17, 0.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.counts .title {
  position: relative;
  color: $black;
  margin-bottom: 40px;
}

.counts .title h3 {
  font-size: 36px;
  font-weight: 700;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  font-weight: 700;
  color: #009961;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  //font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: $black;
}

@media (min-width: 1200px) {
  .counts {
    background-attachment: fixed;
  }
}

// Code Snippet CSS
code {
   //background: var(--code-bg);
   background: #f3f3f3;
   color: #e83e8c;
   //font-size: 0.95em;
   //padding: 0.2em 0.4em;
   border-radius: 6px;   
}

// Highlight Code Block Chroma
pre {
   border-radius: 6px;
   padding: 10px
}

.highlight-wrapper {
   display: block;    
}  

/* Start: Turn off individual column border, margin, and padding when line numbers are showing */
.highlight-wrapper .lntd pre {
   padding: 0;
}  

.chroma .lntd pre {
   border: 0px solid #ccc;
}

.chroma .lntd:first-child {
   padding: 7px 7px 7px 10px;
   margin: 0;
}  

.chroma .lntd:last-child {
   padding: 7px 10px 7px 7px;
   margin: 0;
}

/* End: Turn off individual column border, margin, and padding when line numbers are showing */
.highlight {
   position: relative;
   z-index: 0;
   padding: 0;
   margin:40px 0 10px 0;
   border-radius: 4px;
}

.highlight > .chroma {
   position: static;
   z-index: 1;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   padding: 10px;
}

.copy-code-button {
   position: absolute;
   z-index: 2;
   right: 0;
   font-size: 13px;
   font-weight: 700;
   line-height: 14px;
   letter-spacing: 0.5px;
   width: 65px;
   color: #ffffff;
   background-color: #000000;
   border: 1.25px solid #232326;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   white-space: nowrap;
   padding: 6px 6px 7px 6px;
   margin: 0 0 0 1px;
   cursor: pointer;
}  

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
   color: #222225;
   background-color: #b3b3b3;
   opacity: 1;
}  

.copyable-text-area {
   position: absolute;
   height: 0;
   z-index: -1;
   opacity: .01;
}

.chroma [data-lang]:before {
   position: absolute;
   z-index: 0;
   top: -29px;
   left: 0;
   content: attr(data-lang);
   font-size: 13px;
   font-weight: 700;
   color: white;
   background-color: black;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   padding: 6px 6px 7px 6px;
   line-height: 14px;
   opacity: 0.6;
   position: absolute;
   letter-spacing: 0.5px;
   border: 1.25px solid #232326;
   margin: 0 0 0 1px;
}