{{/*  {{- define "main" }}
{{ partial "page-header.html" . }}



<h1>Archives</h1>
{{ .Content }}



<!-- Beginning of Archives by Date -->
<h2>By Date</h2>
<ul class="archives-list">
	{{ range $name, $taxonomy := .Site.Taxonomies.month }} {{- $cnt := .Count -}}
	  {{- with $.Site.GetPage (printf "%s" $name) -}}
          <li><a href="{{ .RelPermalink }}" title="All posts from {{ .Title }}">{{ .Title }}</a> ({{$cnt}})</li>
	  {{ end }}
	{{- end -}}
</ul>
<!-- End of Archives by Date -->




<!-- Beginning of Archives by Category -->
<h2>By Category</h2>
<ul class="archives-list">
	{{ range $name, $taxonomy := .Site.Taxonomies.categories }} {{- $cnt := .Count -}}
	  {{- with $.Site.GetPage (printf "/categories/%s" $name) -}}
          <li><a href="{{ .RelPermalink }}" title="All posts in category &lsquo;{{ .Title }}&rsquo;">{{ .Title }}</a> ({{$cnt}})</li>
	  {{ end }}
	{{- end -}}
</ul>
<!-- End of Archives by Category -->

<!-- Beginning of Archives by Tags -->
<h2>By Tag</h2>
<ul class="archives-list">
	{{ range $name, $taxonomy := .Site.Taxonomies.tags }} {{- $cnt := .Count -}}
	  {{- with $.Site.GetPage (printf "/tags/%s" $name) -}}
          <li><a href="{{ .RelPermalink }}" title="All posts with tag &lsquo;{{ .Title }}&rsquo;">{{ .Title }}</a> ({{$cnt}})</li>
	  {{ end }}
	{{- end -}}
</ul>
<!-- End of Archives by Tags -->

<!-- Beginning of Archives by Date -->
{{ range where .Site.Pages "Section" "post" }}
  {{ range (.Pages.GroupByDate "2006") }}
    -year key
    {{ range (.Pages.GroupByDate "1") }}
      - month key
      {{ range .Pages}}
        {{ .Render "summary" }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
<!-- End of Archives by Date -->

{{ end }}  */}}