{{define "main" }}
{{ end }}

<script language="Javascript" type="text/javascript">
    function google_search() {
        var query = document.getElementById('google-search').value;
        window.open(
        'https://www.google.com/search?q=' + query + '+site:' + '{{ .Site.BaseURL | absLangURL }}'
        );
    }
    </script>  


<form id="search" onsubmit="google_search(); return false;">
    <div class="form-group form-group-lg">
        <input
            type="text"
            class="form-control"
            id="google-search"
            placeholder="Google Search Betterify!!"
        />
    </div>
</form>