{{/*  <script async src="https://cse.google.com/cse.js?cx=f147daef25faa4320">
</script>
<div class="gcse-searchbox"></div>
<div class="gcse-searchresults"></div>  */}}

<script language="Javascript" type="text/javascript">
    function google_search() {
        var query = document.getElementById('google-search').value;
        window.open(
        'https://www.google.com/search?q=' + query + '+site:' + '{{ site.BaseURL | relLangURL }}'
        );
    }
    </script>
    
{{define "main" }}
{{ end }}

<form id="search" onsubmit="google_search(); return false;">
    <div class="form-group form-group-lg">
        <input
            type="text"
            class="form-control"
            id="google-search"
            placeholder="Enter search term and hit enter"
        />
    </div>
</form>