
{{/*  {{ range getJSON "https://opensheet.elk.sh/1gW-z1ylWp9EiAL6LvTq9_OKShv5qCa5ViSHNa_ZY0C0/Quote+Stock" }}  */}}
{{ range getJSON "https://sheetdb.io/api/v1/0ti697s2zjx51" }}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Price</th>
        <th scope="col">Change</th>
        <th scope="col">Change (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{.Company}}</td>
        <td>{{.Price}}</td>
        <td>{{.Change}}</td>
        <td>{{.Changepct}}</td>
      </tr>      
    </tbody>
  </table>
{{ end }}
