<div class="card bd-callout bd-callout-info shadow mt-3">
    <h4 id="conveying-meaning-to-assistive-technologies">Betterify Newsletter <span class="badge badge-primary">Revue</span></h4>
    <p class="yellow">Please subscribe to our Newsletter!! <span class="badge badge-success">Revue</span></p>
    <div id="revue-embed" class="input-group-lg mb-3">
        <form action="https://www.getrevue.co/profile/betterify-in/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div class="revue-form-group">
          {{/*  <label for="member_email">Email address</label>  */}}
          <input class="revue-form-field form-control" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
        </div>
        {{/*  <div class="revue-form-group">
          <label for="member_first_name">First name <span class="optional">(Optional)</span></label>
          <input class="revue-form-field" placeholder="First name... (Optional)" type="text" name="member[first_name]" id="member_first_name">
        </div>
        <div class="revue-form-group">
          <label for="member_last_name">Last name <span class="optional">(Optional)</span></label>
          <input class="revue-form-field" placeholder="Last name... (Optional)" type="text" name="member[last_name]" id="member_last_name">
        </div>  */}}
        <div class="revue-form-actions input-group-append mb-3 mt-3">
          <input type="submit" class="btn btn-primary" value="Subscribe" name="member[subscribe]" id="member_submit">
        </div>    
        <div class="revue-form-footer">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div>
        </form>
    </div>
</div>