<!-- Beginning of Table of Contents TOC Shortcode By Betterify -->
{{/*  <div class="toc card bd-callout bd-callout-info shadow">
    <h2>Table Of Contents</h2>
    {{ .Page.TableOfContents }}
</div>  */}}
<!-- Ending of Table of Contents TOC Shortcode By Betterify -->

<!-- Beginning of Table of Contents TOC Shortcode By Betterify -->
{{/*  <div id="accordion">
    <div class="card mb-4">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            type="button"
            class="btn btn-link btn-block text-left"
            id="firstname"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <h3 class="mb-0">Table of Contents:</h3>
          </button>
        </h5>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">{{ .Page.TableOfContents }}</div>
      </div>
    </div>
  </div>   */}}
<!-- Ending of Table of Contents TOC Shortcode By Betterify -->

<!-- Beginning of Table of Contents TOC Shortcode By Betterify -->  

{{ $class:= .Get "class" }}
  <details class="toc card bd-callout bd-callout-info shadow table-of-content {{$class}}">
    <summary>
      {{ with i18n "toc" }}
        {{ . }}
      {{ else }}
        Table Of Contents
      {{ end }}
    </summary>
    {{ .Page.TableOfContents }}
  </details>
<!-- Ending of Table of Contents TOC Shortcode By Betterify -->    